p {
    height: 10%;
    background-color: lightgrey;
    border: 10px solid black;
    border-top-right-radius: 50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 20px;
    padding-right: 30px;
    padding-left: 40px;
}