<h1>Sobre o Jogo Space Shooter</h1>
<p>
  Space Shooter é um clássico jogo de naves onde você controla uma nave espacial para destruir inimigos e sobreviver ao maior tempo possível!
</p>
<img src="/img/playerRight.png" alt="Nave" style="max-width:300px">
<img src="/img/enemyShip.png" alt="Inimigo" style="max-width:300px">
