<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">SpaceGame</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="/about">Sobre</a></li>
        <li class="nav-item"><a class="nav-link" href="/major/create">Criar Curso</a></li> <!-- NOVO -->
        {{#if user}}
          <li class="nav-item"><a class="nav-link" href="/">Jogar</a></li>
          <li class="nav-item"><a class="nav-link" href="/ranking">Ranking</a></li>
        {{else}}
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          <li class="nav-item"><a class="nav-link" href="/user/create">Criar Conta</a></li>
        {{/if}}
      </ul>
      {{#if user}}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
              {{user.name}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="/user/update/{{user.id}}">Alterar dados cadastrais</a></li>
              <li><a class="dropdown-item" href="/user/change-password">Alterar senha</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-danger" href="/logout">Efetuar logout</a></li>
            </ul>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</nav>
