<div class="container mt-4">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Ocorreu um Erro!</h4>
    <p><b>{{error}}</b></p>
    <hr>
    {{#if message}}
      <p class="mb-0">Detalhes: {{message}}</p>
    {{/if}}
    {{#if details}}
      <p class="mb-0">Detalhes: {{details}}</p>
    {{/if}}
  </div>
  <a href="javascript:history.back()" class="btn btn-primary">Voltar</a>
</div>