-<h2>Alterar senha</h2>
<form method="POST" action="/user/change-password">
  <div class="mb-3">
    <label>Senha atual:</label>
    <input type="password" name="currentPassword" required class="form-control"/>
  </div>
  <div class="mb-3">
    <label>Nova senha:</label>
    <input type="password" name="newPassword" required class="form-control"/>
  </div>
  <div class="mb-3">
    <label>Repetir nova senha:</label>
    <input type="password" name="repeatNewPassword" required class="form-control"/>
  </div>
  {{#if error}}<div class="alert alert-danger">{{error}}</div>{{/if}}
  {{#if success}}<div class="alert alert-success">{{success}}</div>{{/if}}
  <button type="submit" class="btn btn-primary">Alterar senha</button>
</form>
